@import "tailwindcss";

body {
  background-color: #f5f3ff; 
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}
